* {
  font-family:
    "Cantarell", "Fira Sans", "Segoe UI", "FontAwesome", "Roboto", "Helvetica",
    "Arial", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #c0caf5;
  transition: all 0.2s ease;
  min-height: 0;
}

window#waybar {
  background: transparent;
}

#custom-group-info {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  color: #ffffff;
  padding: 2px 6px;
  border-radius: 8px;
  /* background: rgba(49, 50, 68, 0.9); */
  margin: 0px 4px;
}

#custom-group-info span {
  padding: 0 2px;
  min-width: 80px;
  border-radius: 4px;
}

#custom-group-info .tab {
  padding: 0px 2px;
  min-width: 80px;
  border-radius: 6px;
}

#custom-group-info .tab + .tab {
  border-left: 1px solid #ffffff; /* Разделитель */
  margin-left: 5px;
}

#custom-group-info .active {
  color: #1a1b26;
}

#custom-group-info > * {
  padding: 0px 4px;
  margin-right: 5px;
  border-radius: 6px;
}

#custom-group-info.group-tabs {
  font-size: 16px; /* Увеличен размер для иконок и текста */
  padding: 0px 2px;
  min-width: 80px;
  border-radius: 4px;
}

#custom-group-tabs {
  color: #888;
}

#custom-group-tabs.active {
  color: #ffffff;
  background: #3a3d42;
}

#custom-tabs span:hover {
  background: rgba(255, 255, 255, 0.1);
}

.modules-left,
.modules-center,
.modules-right {
  background: rgba(15, 15, 20, 0.92);
  margin: 6px 10px;
  padding: 0px 8px;
  border-radius: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.modules-left {
  padding: 0px;
}

#workspaces {
  margin-right: 10px;
}

#workspaces button {
  background: transparent;
  color: #c0caf5;
  font-size: 14px;
  font-weight: 700;
  padding: 0 10px;
  border-radius: 6px;
  margin: 2px;
}

#window button {
  margin: 2px;
}

#workspaces button:hover {
  background: #3a3d42;
  color: #ffffff;
}

#workspaces button.active,
#workspaces button.focused {
  background: rgba(45, 45, 65, 0.9);
  color: #1a1b26;
}

#clock {
  margin-bottom: 0px;
  margin-top: 2px;
}

#clock:hover {
  background: #3a3d42;
  border-radius: 6px;
  color: #ffffff;
  padding: 0 4px;
}

#custom-keyboard {
  padding: 0 12px;
  /* background: rgba(49, 50, 68, 0.9); */
  border-radius: 6px;
  margin: 2px 4px;
  font-size: 12px;
  font-family: "Fira Sans", sans-serif;
}

#custom-keyboard span {
  font-family: "FontAwesome", sans-serif;
}

#custom-keyboard:hover {
  background: #3a3d42;
  color: #ffffff;
}

#custom-memory {
  padding: 0 2px;
  border-radius: 6px;
  font-family: "FontAwesome", sans-serif;
}

#network {
  padding: 0 8px;
  /* background: rgba(49, 50, 68, 0.9); */
  border-radius: 6px;
  /* margin-top: 4px; */
}

#network:hover {
  background: #3a3d42;
  color: #ffffff;
}

#pulseaudio {
  padding: 0 8px;
  /* background: rgba(49, 50, 68, 0.9); */
  border-radius: 6px;
  margin: 2px 4px;
}

#pulseaudio:hover {
  background: #3a3d42;
  color: #ffffff;
}
